<!DOCTYPE html>
<html>
<head>
	<title>${title}</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="/static/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"/>
	<link href="/static/plugins/treegrid/jquery.treegrid.css" rel="stylesheet"/>
	<link href="/static/plugins/ztree/css/metroStyle/metroStyle.css" rel="stylesheet"/>
	<link href="/static/plugins/double-box/doublebox-bootstrap.css" rel="stylesheet"/>
	<link href="/static/css/style.min.css" rel="stylesheet"/>
	<link href="/static/css/common.min.css" rel="stylesheet"/>
</head>
